<h1>Help the Homeless</h1>

<h5>Mission Statement</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mauris posuere risus congue vehicula. Aliquam quis velit tortor. Nullam eget ante eleifend nisl pulvinar placerat. Nam sed ligula id lectus rhoncus vestibulum. Aenean et placerat nunc. Praesent mattis urna vitae commodo volutpat. Quisque pulvinar sodales egestas. Proin ut justo mattis, luctus turpis sed, malesuada arcu. Curabitur id neque quis elit euismod fringilla sed ut orci. Cras imperdiet quam orci, vel gravida magna facilisis non. Phasellus rhoncus est et tortor lobortis rutrum. Cras risus lectus, ullamcorper quis feugiat vel, volutpat quis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>


<ul>
  <li><a href='/food'>Food</a></li>
  <li><a href='#'>Shelter</a></li>
  <li><a href='#'>Employment</a></li>
  <li><a href='#'>Health</a></li>
</ul>
