/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

/* General Styles */
body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}





/* HOME PAGE STYLES */

h1{
  font-size: 55px;
  color: #356237;
}
h2{
  text-align: center;
  color: #356237;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    height: 400px;
}

#myCarousel{
  height: 400px;
  width: 100%;
  margin: 0;
}

#main-title{
  text-align: center;
}

.progress-bar{
  background-color: #356237;
}

.btn-primary{
  background-color: #dfb02e;
  border-color: #dfb02e;
}

.left{
  width: 30%;
  height: 500px;
}
.right{
  width: 60%;
  height: 500px;
  li{
    font-size: 18px;
  }
}

#current_focus{
  border: 5px solid #356237;
  color: #356237;
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 25px;
  }
  h5{
    text-align: center;
    font-size: 25px;
  }
  #current_pics{
    margin: 0 auto;
  }
  .little_pic{
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 3px solid #356237;
    margin: 0 7%;
    img{
      width:100%;
      height:100%;
    }
  }
}

#bar{
  width: 95%;
}
#goal{
  margin: 0 30%;
  font-size: 20px;
}

.progress{
  width: 100%;
}



.section{
  a{
    text-decoration: none;
    font-color: #356237;
  }
  .section_content{
    h3, h4{
      text-align: center;
    }
    height: 500px;
    .inside_block{
      .titled{
        margin: 0 auto;
      }
      .info{
        margin: 0 auto;
      }
      .buttt{
        margin: 0 35%;
      }





      margin: 10px 25px;
      display: inline-block;
      img{
        height: 300px;
        width: 300px;
      }
      button{
        margin: 0 auto;
      }
    }
  }
  #current_focus{

  }
}




/* Header Styles */
.navbar-nav li a {
    line-height: 150px;
    height: 150px;
    padding-top: 0;
    // background-color: mintcream;
}
// header
#top {
  margin: -40px 0px;
  height: 115px;
}
.button {
  margin-top: 50px;
  background-color: #dfb02e;
  border: none;
  font-color: #84b17f;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}
#logo {
  margin-top: 60px;
  margin-left: 55px;
}
#donate_home {
  color: #84b17f;
  font-size: 16px;
  margin-right: 10px;
}
#donate_food {
  color: #84b17f;
  font-size: 16px;
  margin-right: 30px;
}
#donate_button {
  color: mintcream;
  font-weight: bold;
}
// footer
#volunteer {
  margin-top: -22%;
  margin-right: 20px;
}

#sub_button{
  margin-left: 43%;
}


#logo{
  height: 50px;
  width: 50px;
}

img{
  width: 100%;
  height: 100%;
}





