<footer class="footer">
  <nav class="navbar navbar-default" style="height: 100px; background-color: mintcream">
      <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
              <li><a href="https://www.lafoodbank.org/learn/hunger-in-l-a/" style="margin-top: -37%">Learn</a></li>
              <li><a href="#" id="volunteer">Volunteer</a></li>
              <button class="button" style="margin-top: 8%"><a href="/food/donate" style="color: mintcream; font-weight: bold">DONATE NOW</a></button>
          </ul>
      </div>
  </nav>
</footer>
