<header class="header">
  <nav class="navbar navbar-default" style="background-color: mintcream" id="top">

      <div class="navbar-header" id="logo">
        <img src='http://i.imgur.com/tgi6Cl1.png'>
      </div>
      <div class="collapse navbar-collapse navbar-right">
          <ul class="nav navbar-nav">
              <li><a href="/" id="donate_home">HOME</a></li>
              <li><a href="/food" id="donate_food">FOOD</a></li>
              <button class="button"><a href="/food/donate" id="donate_button">DONATE NOW</a></button>
          </ul>
      </div>
  </nav>
</header>
